@import "base.scss";

.component {
  width: 216px;
  height: 77px;
  margin-right: 38px;
  padding-top: 6px;

  &:hover {
    .fill {
      width: 100%;
      transition: width 200ms ease-out;
    }

    .label {
      color: $text-color-light;
    }

    .icon {
      background-color: $text-color-light;
    }

    .bar {
      &:before {
        top: -6px;
        opacity: 1;
      }
      &:after {
        bottom: -6px;
        opacity: 1;
      }
    }
  }
}

.bar {
  height: 51px;
  background-color: $navitem-color;

  position: relative;
  width: 100%;

  transition: height 200ms ease-out;

  &:before {
    content: " ";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: $navitem-focus-color;
    transition: top 100ms ease-out;
    opacity: 0;
  }

  &:after {
    content: " ";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: $navitem-focus-color;
    transition: bottom 100ms ease-out;
    opacity: 0;
  }
}

.fill {
  background-color: $navitem-focus-color;
  width: 0%;
  height: 100%;
  transition: none;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 51px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: $text-color;
}

.active {
  background-color: $text-color;
  color: $text-color-light;

  &.bar {
    height: 71px;
  }

  .icon {
    background-color: $text-color-light;
  }

  &:before, &:after {
    visibility: hidden;
  }
}
