// key colours
$color-key-lightest: #d6d2c2;
$color-key-light: #c9c4af;
$color-key-normal: #aca586;
$color-key-dark: #988e67;
$color-key-darkest: #4c4734;

// main aspect ratio
$aspect-width: 1920px;
$aspect-height: 1080px;

// component colours
$bg-main-color: $color-key-light;
