// key colours
$color-key-lightest: #d8d3bb;
$color-key-light: #cbc7b0;
$color-key-normal: #b1ae9a;
$color-key-dark: #625f56;
$color-key-darkest: #4e4c44;

// main aspect ratio
$aspect-width: 1920px;
$aspect-height: 1080px;

// component colours
$bg-main-color: $color-key-light;
