@import "base.scss";

.component {
  height: 48px;
  width: 535px;
  border-left: 13px solid $lines-color-dark;
  padding-left: 14px;
  margin-top: auto;
  display: flex;
  align-items: center;
  background-color: $bg-light-color;
}
