@import "base.scss";

.component {
  padding: 8px 0;
  display: flex;
}

.hpbar {
  display: inline-block;
  position: relative;
  align-self: center;
  margin-left: 12px;
  width: 182px;
  height: 12px;
  background-color: $color-key-light;
}

.hpcurrent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $color-key-normal;
}

.stats {
  margin-left: auto;
}
