@import "base.scss";

.component {
  background-color: $bg-main-color;
  width: $aspect-width;
  height: $aspect-height;
  position: absolute;
}

.shouldScale {
  left: 50%;
  top: 50%;
  transform-origin: center center;
}

.content {
  height: 100%;
}
