@import "base.scss";

.component {
  width: 577px;
  margin-top: 51px;
  display: flex;
  align-items: center;

  &.isTopAligned {
    align-items: start;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: auto;

  > div:not(:last-of-type) {
    margin-bottom: 28px;
  }
}
