@import "base.scss";

.component {
  margin-top: 51px;
  width: 1132px;
  background-color: $color-key-normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classified {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 16px;
}
