@import "base.scss";

.component {
  width: 563px;
  margin-top: 51px;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: auto;
  background-color: $bg-light-color;
  overflow-y: scroll;

  > div:not(:last-of-type) {
    margin-bottom: 12px;
  }
}
